@-webkit-keyframes shadowRedTop {
  from {
    -webkit-box-shadow: 0 0 27vw 10vw rgba(255, 0, 0, 0.25);
            box-shadow: 0 0 27vw 10vw rgba(255, 0, 0, 0.25);
  }
  to {
    -webkit-box-shadow: 0 0 35vw 10vw rgba(255, 0, 0, 0.3);
            box-shadow: 0 0 35vw 10vw rgba(255, 0, 0, 0.3);
  }
}
@keyframes shadowRedTop {
  from {
    -webkit-box-shadow: 0 0 27vw 10vw rgba(255, 0, 0, 0.25);
            box-shadow: 0 0 27vw 10vw rgba(255, 0, 0, 0.25);
  }
  to {
    -webkit-box-shadow: 0 0 35vw 10vw rgba(255, 0, 0, 0.3);
            box-shadow: 0 0 35vw 10vw rgba(255, 0, 0, 0.3);
  }
}
@-webkit-keyframes shadowRedMiddle {
  from {
    -webkit-box-shadow: 0px 0px 37vw 15vw rgba(255, 0, 0, 0.3);
            box-shadow: 0px 0px 37vw 15vw rgba(255, 0, 0, 0.3);
  }
  to {
    -webkit-box-shadow: 0px 0px 32vw 13vw rgba(255, 0, 0, 0.25);
            box-shadow: 0px 0px 32vw 13vw rgba(255, 0, 0, 0.25);
  }
}
@keyframes shadowRedMiddle {
  from {
    -webkit-box-shadow: 0px 0px 37vw 15vw rgba(255, 0, 0, 0.3);
            box-shadow: 0px 0px 37vw 15vw rgba(255, 0, 0, 0.3);
  }
  to {
    -webkit-box-shadow: 0px 0px 32vw 13vw rgba(255, 0, 0, 0.25);
            box-shadow: 0px 0px 32vw 13vw rgba(255, 0, 0, 0.25);
  }
}
@-webkit-keyframes shadowBlueRight {
  from {
    -webkit-box-shadow: 0px 0px 27vw 10vw rgba(5, 48, 222, 0.25);
            box-shadow: 0px 0px 27vw 10vw rgba(5, 48, 222, 0.25);
  }
  to {
    -webkit-box-shadow: 0px 0px 22vw 8vw rgba(5, 48, 222, 0.35);
            box-shadow: 0px 0px 22vw 8vw rgba(5, 48, 222, 0.35);
  }
}
@keyframes shadowBlueRight {
  from {
    -webkit-box-shadow: 0px 0px 27vw 10vw rgba(5, 48, 222, 0.25);
            box-shadow: 0px 0px 27vw 10vw rgba(5, 48, 222, 0.25);
  }
  to {
    -webkit-box-shadow: 0px 0px 22vw 8vw rgba(5, 48, 222, 0.35);
            box-shadow: 0px 0px 22vw 8vw rgba(5, 48, 222, 0.35);
  }
}
@-webkit-keyframes shadowBlueBottom {
  from {
    -webkit-box-shadow: 0px 0px 27vw 10vw rgba(5, 48, 222, 0.25);
            box-shadow: 0px 0px 27vw 10vw rgba(5, 48, 222, 0.25);
  }
  to {
    -webkit-box-shadow: 0px 0px 33vw 11vw rgba(5, 48, 222, 0.15);
            box-shadow: 0px 0px 33vw 11vw rgba(5, 48, 222, 0.15);
  }
}
@keyframes shadowBlueBottom {
  from {
    -webkit-box-shadow: 0px 0px 27vw 10vw rgba(5, 48, 222, 0.25);
            box-shadow: 0px 0px 27vw 10vw rgba(5, 48, 222, 0.25);
  }
  to {
    -webkit-box-shadow: 0px 0px 33vw 11vw rgba(5, 48, 222, 0.15);
            box-shadow: 0px 0px 33vw 11vw rgba(5, 48, 222, 0.15);
  }
}
@-webkit-keyframes neon {
  from {
    text-shadow: 0 0 0.5rem rgba(202, 228, 225, 0.92), 0 0 1.5rem rgba(202, 228, 225, 0.34), 0 0 0.75rem rgba(5, 48, 222, 0.52), 0 0 1.25rem rgba(5, 48, 222, 0.92), 0 0 1.55rem rgba(5, 48, 222, 0.78), 0 0 2.75rem rgba(5, 48, 222, 0.92);
  }
  to {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(5, 48, 222, 0.58), 0 0 22px rgba(5, 48, 222, 0.84), 0 0 38px rgba(5, 48, 222, 0.88), 0 0 60px #0530de;
  }
}
@keyframes neon {
  from {
    text-shadow: 0 0 0.5rem rgba(202, 228, 225, 0.92), 0 0 1.5rem rgba(202, 228, 225, 0.34), 0 0 0.75rem rgba(5, 48, 222, 0.52), 0 0 1.25rem rgba(5, 48, 222, 0.92), 0 0 1.55rem rgba(5, 48, 222, 0.78), 0 0 2.75rem rgba(5, 48, 222, 0.92);
  }
  to {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(5, 48, 222, 0.58), 0 0 22px rgba(5, 48, 222, 0.84), 0 0 38px rgba(5, 48, 222, 0.88), 0 0 60px #0530de;
  }
}
@-webkit-keyframes neonB {
  from {
    -webkit-box-shadow: 0 0 0.5rem rgba(202, 228, 225, 0.92), 0 0 1.5rem rgba(202, 228, 225, 0.34), 0px 0px 2rem 0.3rem rgba(5, 48, 222, 0.75), 0px 0px 2rem 0.3rem rgba(5, 48, 222, 0.75) inset;
            box-shadow: 0 0 0.5rem rgba(202, 228, 225, 0.92), 0 0 1.5rem rgba(202, 228, 225, 0.34), 0px 0px 2rem 0.3rem rgba(5, 48, 222, 0.75), 0px 0px 2rem 0.3rem rgba(5, 48, 222, 0.75) inset;
  }
  to {
    -webkit-box-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0px 0px 3rem 0.5rem rgba(5, 48, 222, 0.75), 0px 0px 3rem 0.5rem rgba(5, 48, 222, 0.75) inset;
            box-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0px 0px 3rem 0.5rem rgba(5, 48, 222, 0.75), 0px 0px 3rem 0.5rem rgba(5, 48, 222, 0.75) inset;
  }
}
@keyframes neonB {
  from {
    -webkit-box-shadow: 0 0 0.5rem rgba(202, 228, 225, 0.92), 0 0 1.5rem rgba(202, 228, 225, 0.34), 0px 0px 2rem 0.3rem rgba(5, 48, 222, 0.75), 0px 0px 2rem 0.3rem rgba(5, 48, 222, 0.75) inset;
            box-shadow: 0 0 0.5rem rgba(202, 228, 225, 0.92), 0 0 1.5rem rgba(202, 228, 225, 0.34), 0px 0px 2rem 0.3rem rgba(5, 48, 222, 0.75), 0px 0px 2rem 0.3rem rgba(5, 48, 222, 0.75) inset;
  }
  to {
    -webkit-box-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0px 0px 3rem 0.5rem rgba(5, 48, 222, 0.75), 0px 0px 3rem 0.5rem rgba(5, 48, 222, 0.75) inset;
            box-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0px 0px 3rem 0.5rem rgba(5, 48, 222, 0.75), 0px 0px 3rem 0.5rem rgba(5, 48, 222, 0.75) inset;
  }
}
body {
  background-color: rgba(0, 0, 0, 0.98);
  width: 100%;
  height: auto;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Jura', sans-serif;
  color: #fff;
}

.wrapper {
  background-image: url("../img/brickwall2.png"), url("../img/brickwall4.png"), url("../img/brickwall.png"), url("../img/brickwall3.png");
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 65%, 30%, 65%, 35%;
  background-position: left top, right top, left bottom, right bottom;
  position: relative;
}
@media only screen and (min-width: 1024px) {
  .wrapper {
    min-height: 100vh;
  }
}

.radiance {
  height: 1px;
  width: 1px;
}
.radiance__red:before, .radiance__blue::before {
  display: block;
  content: '';
}
.radiance__red--top {
  width: 10rem;
  -webkit-box-shadow: 0px 0px 27vw 10vw rgba(255, 0, 0, 0.25);
          box-shadow: 0px 0px 27vw 10vw rgba(255, 0, 0, 0.25);
  border-radius: 0 50% 50% 0;
  -webkit-animation: shadowRedTop 1s infinite ease-in-out alternate;
          animation: shadowRedTop 1s infinite ease-in-out alternate;
}
@media only screen and (min-width: 1920px) {
  .radiance__red--top {
    width: 15rem;
  }
}
.radiance__red--top::before {
  -webkit-box-shadow: 0px 0px 15rem 0.5rem rgba(255, 0, 0, 0.75);
          box-shadow: 0px 0px 15rem 0.5rem rgba(255, 0, 0, 0.75);
  width: 10rem;
}
@media only screen and (min-width: 1024px) {
  .radiance__red--top::before {
    width: 21rem;
  }
}
.radiance__red--middle {
  -webkit-animation: shadowRedMiddle 1.5s infinite ease-in-out alternate;
          animation: shadowRedMiddle 1.5s infinite ease-in-out alternate;
  -webkit-box-shadow: 0px 0px 37vw 15vw rgba(255, 0, 0, 0.25);
          box-shadow: 0px 0px 37vw 15vw rgba(255, 0, 0, 0.25);
  border-radius: 50%;
  left: 22%;
  top: 60%;
  position: absolute;
}
@media only screen and (max-width: 1366px) {
  .radiance__red--middle {
    -webkit-box-shadow: 0px 0px 20rem 12.5rem rgba(255, 0, 0, 0.25);
            box-shadow: 0px 0px 20rem 12.5rem rgba(255, 0, 0, 0.25);
  }
}
.radiance__red--middle::before {
  -webkit-box-shadow: 0px 0px 25rem 2.5rem rgba(255, 0, 0, 0.75);
          box-shadow: 0px 0px 25rem 2.5rem rgba(255, 0, 0, 0.75);
}
.radiance__blue--rigth {
  -webkit-animation: shadowBlueRight 1s infinite ease-in-out alternate;
          animation: shadowBlueRight 1s infinite ease-in-out alternate;
  -webkit-box-shadow: 0px 0px 22vw 10vw rgba(5, 48, 222, 0.25);
          box-shadow: 0px 0px 22vw 10vw rgba(5, 48, 222, 0.25);
  position: absolute;
  top: 0;
  border-radius: 50% 0 0 50%;
  right: 10%;
  width: 10rem;
}
.radiance__blue--rigth::before {
  -webkit-box-shadow: 0px 0px 25rem 1.5rem rgba(5, 48, 222, 0.45);
          box-shadow: 0px 0px 25rem 1.5rem rgba(5, 48, 222, 0.45);
  width: 10rem;
}
@media only screen and (min-width: 1024px) {
  .radiance__blue--rigth::before {
    width: 21rem;
  }
}
.radiance__blue--bottom {
  position: absolute;
  -webkit-animation: shadowBlueBottom 1.5s infinite ease-in-out alternate;
          animation: shadowBlueBottom 1.5s infinite ease-in-out alternate;
  -webkit-box-shadow: 0px 0px 22vw 7.5vw rgba(5, 48, 222, 0.25);
          box-shadow: 0px 0px 22vw 7.5vw rgba(5, 48, 222, 0.25);
  bottom: 0;
  right: 30%;
  border-radius: 50% 50% 0 0;
  width: 10rem;
}
@media only screen and (min-width: 1024px) {
  .radiance__blue--bottom {
    width: 21rem;
  }
}
.radiance__blue--bottom::before {
  -webkit-box-shadow: 0px 0px 25rem 1.5rem rgba(5, 48, 222, 0.45);
          box-shadow: 0px 0px 25rem 1.5rem rgba(5, 48, 222, 0.45);
  width: 10rem;
}
@media only screen and (min-width: 1024px) {
  .radiance__blue--bottom::before {
    width: 21rem;
  }
}

.title {
  text-align: center;
  font-weight: 300;
  margin: 4% 2rem 2%;
  font-size: 2.5rem;
}
@media only screen and (max-width: 576px) {
  .title {
    font-size: 1.25rem;
    margin: 5% .5rem 3%;
  }
}
.title__form {
  font-weight: bold;
  font-size: 3.25rem;
  color: #c6e2ff;
  -webkit-animation: neon .08s ease-in-out infinite alternate;
          animation: neon .08s ease-in-out infinite alternate;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.billboard {
  width: 100%;
  bottom: 0;
  left: 3%;
  height: 73vh;
  background-image: url("../img/billboard_mobile.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}
@media screen and (min-width: 1270px) {
  .billboard {
    height: 76.5%;
    position: absolute;
    width: 55.25%;
    background-image: url("../img/billboard.png");
  }
}
@media only screen and (max-width: 576px) {
  .billboard {
    height: 40vh;
  }
}
@media only screen and (max-width: 1024px) {
  .billboard {
    height: 53vh;
  }
}

.contact-form {
  width: 100%;
  bottom: 0;
  right: 0;
  height: 66.5%;
  margin-top: -15%;
}
@media screen and (max-width: 1400px) {
  .contact-form {
    height: 76.5%;
  }
}
@media only screen and (min-width: 1270px) {
  .contact-form {
    width: 41.75%;
    position: absolute;
    margin-top: 0;
  }
}
.contact-form form {
  text-align: center;
}
.contact-form form label {
  margin: 1.75rem 2rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid #beefff;
  -webkit-box-shadow: 0px 0px 2rem 0.3rem rgba(5, 48, 222, 0.75), 0px 0px 2rem 0.3rem rgba(5, 48, 222, 0.75) inset;
          box-shadow: 0px 0px 2rem 0.3rem rgba(5, 48, 222, 0.75), 0px 0px 2rem 0.3rem rgba(5, 48, 222, 0.75) inset;
}
@media only screen and (max-width: 576px) {
  .contact-form form label {
    margin: .75rem .25rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
.contact-form form svg {
  width: 2.75rem;
  height: 2.75rem;
  margin: .5rem 1.25rem;
  -webkit-filter: drop-shadow(0px 0px 1rem rgba(30, 132, 242, 0.92));
          filter: drop-shadow(0px 0px 1rem rgba(30, 132, 242, 0.92));
}
@media only screen and (max-width: 576px) {
  .contact-form form svg {
    margin: .25rem .5rem;
    width: 1.5rem;
    height: 1.5rem;
  }
}
.contact-form form input,
.contact-form form button {
  font-family: 'Jura', sans-serif;
  font-size: 2rem;
  color: #fff;
  border: none;
  background: none;
}
@media only screen and (max-width: 576px) {
  .contact-form form input,
  .contact-form form button {
    width: 70%;
    font-size: 1.25rem;
  }
}
.contact-form form button {
  cursor: pointer;
  font-size: 1.25rem;
  margin: 1.75rem 2rem 3.5rem;
  color: #beefff;
  text-shadow: 0px 0px 8px #1e84f2;
  padding: .75rem 1.75rem;
  border: 3px solid #beefff;
  -webkit-animation: neonB .5s ease-in-out infinite alternate;
          animation: neonB .5s ease-in-out infinite alternate;
  -webkit-box-shadow: 0px 0px 2rem 0.3rem rgba(5, 48, 222, 0.75), 0px 0px 2rem 0.3rem rgba(5, 48, 222, 0.75) inset;
          box-shadow: 0px 0px 2rem 0.3rem rgba(5, 48, 222, 0.75), 0px 0px 2rem 0.3rem rgba(5, 48, 222, 0.75) inset;
}

::-webkit-input-placeholder {
  color: #fff;
}

::-moz-placeholder {
  color: #fff;
}

:-ms-input-placeholder {
  color: #fff;
}

:-moz-placeholder {
  color: #fff;
}

/*# sourceMappingURL=style.css.map */